<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoPost</title>
</head>
<body>
    <h1>Auto Facebook Post Creator</h1>
    <form action="/post" method="POST">
        <section>
            <label for="post">Enter Text</label>
            <br>
            <textarea name="text" id="post" cols="60" rows="10"></textarea>
        </section> 
        <button>Submit</button>
    </form>
</body>
</html>